# Outro DB para você exercitar
[Usaremos dados de exemplo do site doFactory](https://www.dofactory.com/sql/sample-database).

Para recriar o banco de dados em SQLite, sem Python, basta executar o arquivo com os comandos SQL na linha de comando do sistema operacional:

```shell
sqlite3 doFactory.db < sample-doFactory-dump.sql
```

Use Python para criar o DB e fazer algumas queries.

# New Section

## Crie o DB

Vamos primeiro usar a estrutura e dados do arquivo `sql-doFactory-database.sql` para criar um banco de dados no arquivo `database.db`.

In [0]:
import pandas as pd
import sqlite3

db = sqlite3.connect('doFactory.db')

In [9]:
script = 'sample-doFactory-dump.sql'

db.cursor().executescript(open(script).read())

## SQLite com Pandas
![diagrama do DB](https://www.dofactory.com/Images/sql-schema.png)

Agora começamos a fazer queries:

Liste todos os fornecedores (suppliers)

In [0]:
query = "SELECT CompanyName FROM 'Supplier' ORDER BY CompanyName;"

queryResult = pd.read_sql_query(query,db)

#queryResult

Faça um ranking de fornecedores ordenados por quem mais vende:

In [0]:
query = """SELECT sup.CompanyName AS FORNECEDOR,
       prd.ProductName AS NOME_PRODUTO,
       sum(oi.Quantity) AS QTD
FROM OrderItem oi, 
     Product prd,
     Supplier sup
ON oi.ProductId=prd.Id AND prd.SupplierId=oi.Id
GROUP BY CompanyName
ORDER BY QTD DESC;"""

queryResult = pd.read_sql_query(query,db)

#queryResult

Clique **aqui** duas vezes para ver resposta...

<!--


SELECT
    s.CompanyName,
    sum(o.UnitPrice*o.Quantity) AS totalSales

    FROM

    OrderItem o,
    Product p,
    Supplier s

    ON o.ProductID=p.ID AND p.SupplierID=s.ID

    GROUP BY s.ID

    ORDER BY totalSales DESC

-->

In [36]:
query = """SELECT sup.CompanyName AS FORNECEDOR,
oi.ProductId AS PRODUTO_ID, 
prd.ProductName AS PRODUTO, 
sum(oi.Quantity) AS QTD
FROM OrderItem oi,
     Product prd,
     Supplier sup
ON oi.ProductId=prd.Id
AND prd.SupplierId=sup.Id
GROUP BY oi.ProductId 
ORDER BY QTD DESC;"""
query
queryResult = pd.read_sql_query(query,db)
queryResult

                            FORNECEDOR  ...   QTD
0                         Gai pâturage  ...  1577
1                         Gai pâturage  ...  1496
2              Formaggi Fortini s.r.l.  ...  1397
3                 Pasta Buttini s.r.l.  ...  1263
4                        Pavlova, Ltd.  ...  1158
5    Plutzer Lebensmittelgroßmärkte AG  ...  1155
6            Refrescos Americanas LTDA  ...  1125
7          New England Seafood Cannery  ...  1103
8                     Forêts d'érables  ...  1083
9                       Exotic Liquids  ...  1057
10                     Norske Meierier  ...  1057
11            Specialty Biscuits, Ltd.  ...  1016
12         New England Seafood Cannery  ...   981
13                           Karkki Oy  ...   981
14                       Pavlova, Ltd.  ...   978
15                           Ma Maison  ...   903
16                            Mayumi's  ...   891
17                         G'day, Mate  ...   886
18                   Bigfoot Breweries  ...   883
19                      Exotic Liquids  ...   828
20                       Pavlova, Ltd.  ...   817
21             Formaggi Fortini s.r.l.  ...   806
22                   Svensk Sjöföda AB  ...   805
23            Specialty Biscuits, Ltd.  ...   799
24          Aux joyeux ecclésiastiques  ...   793
25   Plutzer Lebensmittelgroßmärkte AG  ...   791
26           Grandma Kelly's Homestead  ...   763
27                     Norske Meierier  ...   755
28                           Ma Maison  ...   755
29         Heli Süßwaren GmbH & Co. KG  ...   753
..                                 ...  ...   ...
47                       Pavlova, Ltd.  ...   539
48                  Escargots Nouveaux  ...   534
49                           Karkki Oy  ...   520
50                          Lyngbysild  ...   508
51                   Bigfoot Breweries  ...   506
52                         G'day, Mate  ...   500
53                 Zaanse Snoepfabriek  ...   485
54          New Orleans Cajun Delights  ...   453
55                       Pavlova, Ltd.  ...   445
56                Pasta Buttini s.r.l.  ...   434
57                            Mayumi's  ...   404
58           Grandma Kelly's Homestead  ...   372
59         Heli Süßwaren GmbH & Co. KG  ...   365
60                    PB Knäckebröd AB  ...   348
61  Cooperativa de Quesos 'Las Cabras'  ...   344
62                      Exotic Liquids  ...   328
63         Heli Süßwaren GmbH & Co. KG  ...   318
64            Specialty Biscuits, Ltd.  ...   313
65           Grandma Kelly's Homestead  ...   301
66          New Orleans Cajun Delights  ...   298
67             Formaggi Fortini s.r.l.  ...   297
68                       Tokyo Traders  ...   297
69                   Svensk Sjöföda AB  ...   293
70          New Orleans Cajun Delights  ...   239
71                           Karkki Oy  ...   235
72                   Bigfoot Breweries  ...   184
73                 Zaanse Snoepfabriek  ...   138
74                   Svensk Sjöföda AB  ...   125
75                            Mayumi's  ...   122
76                       Tokyo Traders  ...    95

[77 rows x 4 columns]

In [41]:
query = """SELECT OrderId AS ORDEM, 
Id AS ITEM, 
UnitPrice AS PREÇO, 
Quantity AS QTD, 
(UnitPrice * Quantity) AS Total 
FROM OrderItem;"""
query
queryResult = pd.read_sql_query(query,db)
queryResult

      ORDEM  ITEM  PREÇO  QTD    Total
0         1     1  14.00   12   168.00
1         1     2   9.80   10    98.00
2         1     3  34.80    5   174.00
3         2     4  18.60    9   167.40
4         2     5  42.40   40  1696.00
5         3     6   7.70   10    77.00
6         3     7  42.40   35  1484.00
7         3     8  16.80   15   252.00
8         4     9  16.80    6   100.80
9         4    10  15.60   15   234.00
10        4    11  16.80   20   336.00
11        5    12  64.80   40  2592.00
12        5    13   2.00   25    50.00
13        5    14  27.20   40  1088.00
14        6    15  10.00   20   200.00
15        6    16  14.40   42   604.80
16        6    17  16.00   40   640.00
17        7    18   3.60   15    54.00
18        7    19  19.20   21   403.20
19        7    20   8.00   21   168.00
20        8    21  15.20   20   304.00
21        8    22  13.90   35   486.50
22        8    23  15.20   25   380.00
23        8    24  44.00   30  1320.00
24        9    25  26.20   15   393.00
25        9    26  10.40   12   124.80
26       10    27  35.10   25   877.50
27       10    28  14.40    6    86.40
28       10    29  10.40   15   156.00
29       11    30  15.20   50   760.00
...     ...   ...    ...  ...      ...
2125    828  2126  12.00   30   360.00
2126    828  2127  18.00    2    36.00
2127    829  2128  25.00   20   500.00
2128    829  2129  23.25   20   465.00
2129    829  2130   9.20   10    92.00
2130    830  2131  19.00   24   456.00
2131    830  2132  10.00    4    40.00
2132    830  2133  22.00    1    22.00
2133    830  2134  25.00    1    25.00
2134    830  2135  30.00    1    30.00
2135    830  2136  40.00    2    80.00
2136    830  2137  31.00    1    31.00
2137    830  2138  38.00    2    76.00
2138    830  2139   6.00    4    24.00
2139    830  2140  23.25    1    23.25
2140    830  2141  17.45    2    34.90
2141    830  2142  81.00    1    81.00
2142    830  2143   9.00    2    18.00
2143    830  2144  32.00    1    32.00
2144    830  2145  18.00    2    36.00
2145    830  2146   9.65    3    28.95
2146    830  2147  12.00    3    36.00
2147    830  2148   7.00    2    14.00
2148    830  2149  24.00    2    48.00
2149    830  2150  34.00    2    68.00
2150    830  2151  33.25    2    66.50
2151    830  2152  17.00    1    17.00
2152    830  2153  15.00    2    30.00
2153    830  2154   7.75    4    31.00
2154    830  2155  13.00    2    26.00

[2155 rows x 5 columns]

In [46]:
query = """SELECT OrderId AS ORDEM, 
sum((UnitPrice * Quantity)) AS Total 
FROM OrderItem
GROUP BY OrderId;"""
query
queryResult = pd.read_sql_query(query,db)
queryResult

     ORDEM    Total
0        1   440.00
1        2  1863.40
2        3  1813.00
3        4   670.80
4        5  3730.00
5        6  1444.80
6        7   625.20
7        8  2490.50
8        9   517.80
9       10  1119.90
10      11  2018.60
11      12   100.80
12      13  1746.20
13      14   448.00
14      15   624.80
15      16  2464.80
16      17   724.50
17      18  1176.00
18      19   364.80
19      20  4031.00
20      21  1101.20
21      22   676.00
22      23  1376.00
23      24    48.00
24      25  1456.00
25      26  2142.40
26      27   538.60
27      28   307.20
28      29   420.00
29      30  1200.80
..     ...      ...
800    801   525.00
801    802   342.00
802    803   900.00
803    804    45.00
804    805  1665.00
805    806  3658.75
806    807   305.00
807    808  1727.50
808    809  3740.00
809    810    45.00
810    811   858.00
811    812  1838.00
812    813   266.00
813    814   510.00
814    815   508.00
815    816  1445.50
816    817  4722.30
817    818   252.56
818    819   928.75
819    820    86.85
820    821  2384.80
821    822   360.00
822    823  1873.50
823    824   510.00
824    825  5218.00
825    826   300.00
826    827   244.30
827    828   586.00
828    829  1057.00
829    830  1374.60

[830 rows x 2 columns]

In [55]:
query = """SELECT ORDEM, TOTAL FROM 
(SELECT OrderId AS ORDEM, 
sum((UnitPrice * Quantity)) AS TOTAL
FROM OrderItem
GROUP BY OrderId)
WHERE TOTAL>1000
ORDER BY TOTAL;"""
query
queryResult = pd.read_sql_query(query,db)
queryResult

     ORDEM     TOTAL
0      156   1005.90
1      586   1007.70
2      735   1014.00
3      655   1015.80
4      130   1016.00
5      176   1020.00
6      779   1030.00
7      578   1030.76
8      197   1031.70
9       49   1050.60
10     225   1051.20
11     602   1052.14
12     829   1057.00
13     140   1058.40
14     361   1064.00
15     333   1067.10
16     450   1073.90
17     753   1075.00
18     192   1078.00
19     502   1080.00
20     396   1086.00
21     800   1090.50
22      21   1101.20
23     109   1106.40
24     599   1112.00
25      10   1119.90
26     714   1122.00
27     672   1122.80
28     222   1125.50
29     472   1125.67
..     ...       ...
389    600   6164.90
390    440   6201.90
391    348   6300.00
392    365   6375.00
393    648   6379.40
394    360   6475.40
395    386   6483.05
396    746   6527.25
397    770   6750.00
398    774   6941.49
399    529   6984.50
400    113   7390.20
401    665   8267.40
402    267   8623.45
403    569   8891.00
404    785   8902.50
405    444  10164.80
406    293  10191.70
407    232  10495.60
408    268  10588.50
409    106  10741.60
410    650  10835.24
411    170  11283.20
412    642  11380.00
413    570  11490.70
414    177  11493.20
415    125  12281.20
416    734  15810.00
417    783  16321.90
418    618  17250.00

[419 rows x 2 columns]

In [61]:
# Listar todos os fornecedores
query = """SELECT CompanyName as FORNECEDOR
FROM Supplier ORDER BY CompanyName;"""
query
queryResult = pd.read_sql_query(query,db)
queryResult

                                FORNECEDOR
0               Aux joyeux ecclésiastiques
1                        Bigfoot Breweries
2       Cooperativa de Quesos 'Las Cabras'
3                       Escargots Nouveaux
4                           Exotic Liquids
5                  Formaggi Fortini s.r.l.
6                         Forêts d'érables
7                              G'day, Mate
8                             Gai pâturage
9                Grandma Kelly's Homestead
10             Heli Süßwaren GmbH & Co. KG
11                               Karkki Oy
12                            Leka Trading
13                              Lyngbysild
14                               Ma Maison
15                                Mayumi's
16             New England Seafood Cannery
17              New Orleans Cajun Delights
18  Nord-Ost-Fisch Handelsgesellschaft mbH
19                         Norske Meierier
20                        PB Knäckebröd AB
21                    Pasta Buttini s.r.l.
22                           Pavlova, Ltd.
23       Plutzer Lebensmittelgroßmärkte AG
24               Refrescos Americanas LTDA
25                Specialty Biscuits, Ltd.
26                       Svensk Sjöföda AB
27                           Tokyo Traders
28                     Zaanse Snoepfabriek

In [59]:
# Pesquisar nome do fornecedor contendo no início "Ex"
query = """SELECT CompanyName as FORNECEDOR
FROM Supplier
WHERE CompanyName LIKE 'Ex%'
ORDER BY CompanyName;"""
query
queryResult = pd.read_sql_query(query,db)
queryResult

       FORNECEDOR
0  Exotic Liquids

In [66]:
# Pesquisar nome do fornecedor NÃO iniciando com "Z"
query = """SELECT CompanyName as FORNECEDOR
FROM Supplier
WHERE CompanyName NOT LIKE 'Z%'
ORDER BY CompanyName;"""
query
queryResult = pd.read_sql_query(query,db)
queryResult

                                FORNECEDOR
0               Aux joyeux ecclésiastiques
1                        Bigfoot Breweries
2       Cooperativa de Quesos 'Las Cabras'
3                       Escargots Nouveaux
4                           Exotic Liquids
5                  Formaggi Fortini s.r.l.
6                         Forêts d'érables
7                              G'day, Mate
8                             Gai pâturage
9                Grandma Kelly's Homestead
10             Heli Süßwaren GmbH & Co. KG
11                               Karkki Oy
12                            Leka Trading
13                              Lyngbysild
14                               Ma Maison
15                                Mayumi's
16             New England Seafood Cannery
17              New Orleans Cajun Delights
18  Nord-Ost-Fisch Handelsgesellschaft mbH
19                         Norske Meierier
20                        PB Knäckebröd AB
21                    Pasta Buttini s.r.l.
22                           Pavlova, Ltd.
23       Plutzer Lebensmittelgroßmärkte AG
24               Refrescos Americanas LTDA
25                Specialty Biscuits, Ltd.
26                       Svensk Sjöföda AB
27                           Tokyo Traders

In [60]:
# Pesquisar nome do fornecedor contendo no final "LTDA"
query = """SELECT CompanyName as FORNECEDOR
FROM Supplier
WHERE CompanyName LIKE '%LTDA'
ORDER BY CompanyName;"""
query
queryResult = pd.read_sql_query(query,db)
queryResult

                  FORNECEDOR
0  Refrescos Americanas LTDA

In [62]:
# Pesquisar nome do fornecedor contendo no primeiro caracter qualquer coisa e no segundo "a" e no final qualquer coisa.
query = """SELECT CompanyName as FORNECEDOR
FROM Supplier
WHERE CompanyName LIKE '_a%'
ORDER BY CompanyName;"""
query
queryResult = pd.read_sql_query(query,db)
queryResult

             FORNECEDOR
0          Gai pâturage
1             Karkki Oy
2             Ma Maison
3              Mayumi's
4  Pasta Buttini s.r.l.
5         Pavlova, Ltd.
6   Zaanse Snoepfabriek

In [80]:
# Pesquisar nome do fornecedor contendo no primeiro caracter qualquer coisa, no segundo "a" e no final qualquer coisa.
query = """SELECT SUBSTR(CompanyName, 1, 1) AS PRIMEIRO_CARACTER_QQ_COISA,
SUBSTR(CompanyName, 2, 1) AS SEGUNDO_CARACTER_LETRA_A,
SUBSTR(CompanyName, 3) AS RESTO_QQ_COISA,
CompanyName as FORNECEDOR
FROM Supplier
WHERE CompanyName LIKE '_a%'
ORDER BY CompanyName;"""
query
queryResult = pd.read_sql_query(query,db)
queryResult

  PRIMEIRO_CARACTER_QQ_COISA  ...            FORNECEDOR
0                          G  ...          Gai pâturage
1                          K  ...             Karkki Oy
2                          M  ...             Ma Maison
3                          M  ...              Mayumi's
4                          P  ...  Pasta Buttini s.r.l.
5                          P  ...         Pavlova, Ltd.
6                          Z  ...   Zaanse Snoepfabriek

[7 rows x 4 columns]